.bg{
     background-image: url("https://wallpaperaccess.com/full/234990.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 100vh;
     height: 100%;
     width: 100vw;
}